/* Rem defining attributes */
/* 
Color palette
#a8216b - 25%
#ec1b4b -
#f26a44
#f7db69
#2e9598 - 50% 
*/

:root {
	background-color: #2e9598;
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
}


/* Container */

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	margin: 0 auto;
	padding: 2rem;
}

.container > * {
	width: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* Utilities */

input {
	height: 3rem;
	width: 20rem;
	border: 0 solid #aaa;
	border-radius: 2px;
	margin-bottom: 2rem;
	padding: 1rem;
}

button {
	border-width: 0 auto;
}

.btn {
	font-size: 1.8rem;
	padding: 0.75rem 0;
	width: 15rem;
	text-align: center;
	border: 0.1rem solid #aaa;
	margin-bottom: 1rem;
	text-decoration: none;
	color: #56a5eb;
	background-color: white;
	border-radius: 2px;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5) ;
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

btn[disabled]:hover {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}